on: [push,pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    name: test out our github action with no image version
    steps:
    - name: git checkout
      uses: actions/checkout@v2
    - name: test 
      id: test
      uses: ryanjfrizzell/action-bpd@master
      with:
        docker_registry_url: 'docker.pkg.github.com'
        docker_registry_owner: 'ryanjfrizzell'
        docker_repository: 'action-bpd'
        docker_image: 'bpdautolatest'
        docker_username: ${{ secrets.docker_username }}
        docker_password: ${{ secrets.docker_password }}
        dockerfile: 'test/Dockerfile.test'
    - name: Get the output
      run: |
          echo "imageinfo was ${{ steps.test.outputs.imageinfo }}"
  test-with-version:
    runs-on: ubuntu-latest
    name: test out our github action with an image version
    steps:
    - name: git checkout
      uses: actions/checkout@v2
    - name: test 
      id: test
      uses: ryanjfrizzell/action-bpd@master
      with:
        docker_registry_url: 'docker.pkg.github.com'
        docker_registry_owner: 'ryanjfrizzell'
        docker_repository: 'action-bpd'
        docker_image: 'bpdautolatest'
        docker_username: ${{ secrets.docker_username }}
        docker_password: ${{ secrets.docker_password }}
        dockerfile: 'test/Dockerfile.test'
        docker_image_tag: 'v1.0.0'
    - name: Get the output
      run: |
          echo "imageinfo was ${{ steps.test-with-version.outputs.imageinfo }}"
  test-with-public:
    runs-on: ubuntu-latest
    name: test out our github action with a public image
    steps:
    - name: git checkout
      uses: actions/checkout@v2
    - name: test 
      id: test
      uses: ryanjfrizzell/action-bpd@master
      with:
        docker_registry_url: 'docker.io'
        docker_regitry_owner: 'actionbpd'
        docker_repository: 'action-bpd'
        docker_username: ${{ secrets.dockerhub_username }}
        docker_password: ${{ secrets.dockerhub_password }}
        dockerfile: 'test/Dockerfile.test'
        docker_image_tag: 'v1.0.0'
    - name: Get the output
      run: |
          echo "imageinfo was ${{ steps.test-with-version.outputs.imageinfo }}"
